body {
    font-family: sans-serif;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    line-height: 1.5;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

ol {
    margin-bottom: 30px;
    text-align: left;
}

dl {
    text-align: left;
}

dt {
    font-weight: bold;
    margin-top: 10px;
}

dd {
    margin-left: 20px;
    margin-bottom: 10px;
}